{% extends 'base.html' %}

{% block title%} Anasayfa {% endblock %}

{% block content %} 

{% for yazi in yazilar %}

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ yazi.resim.url }}" class="img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 class="card-title">{{ yazi.baslik }}</h6>
          <p class="card-text">{{ yazi.icerik|safe|truncatechars_html:80 }}</p>
          <p class="card-text"><small class="text-muted">{{ yazi.duzenlenme_tarihi|timesince }}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <p>Hiç Yazi bulunamadı</p>
  {% endfor %}
{% endblock %}